<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crie um Post</title>
</head>
<body>
    <h1>Criar Post</h1>
    <form method="POST" action="submit/"> {% csrf_token %}
        <label>Título</label>
        <br/>
        <input type="text" name="title">
        <br/>
        <label>Descrição</label>
        <br/>
        <textarea name="description" cols="30" rows="10"></textarea>
        <br/>
        <button type="submit" >Criar</button>
    </form>
</body>
</html>