{% extends "model_page.html" %}

{% block content %}
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <h2 class="mb-3 mt-3" style="font-family: Ubuntu;">Crie sua nova postagem &#128394</h2>

        <form method="POST" action="submit/?id={{id}}" style="width: 90vw;"> {% csrf_token %}
            <div class="form-group">
                <label>Título</label>
                <input type="text" name="title" class="form-control" value="{{title}}">
            </div>

            <div class="form-group">
                <label>Descrição</label>
                <textarea name="description" class="form-control" cols="30" rows="10">{{description}}</textarea>
            </div>

            <div class="d-flex justify-content-start align-items-center">
                <button class="btn btn-warning text-white mr-3" type="submit">Criar postagem</button>
                <a class="text-warning" href="/user/admin">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock %}