{% extends "model_page.html" %}

{% block content %}
    <nav class="nav nav-pills justify-content-between border-bottom p-3 bg-dark">
        <h2 class="text-white" style="font-family: Ubuntu;">Blog DEV</h2>

        <div class="d-flex justify-content-center align-items-center">
            {% if is_anonymous %}
                <a class="nav-link text-warning" href="/login">Entrar</a>
                <a class="nav-link active bg-warning" href="/create-account">Criar conta</a>
            {% else %}
                <a class="nav-link text-warning" href="/user/admin">{{user}}, acesse sua conta</a>
                <a class="nav-link text-warning" href="/logout">Sair</a>
            {% endif %}
        </div>
    </nav>
    <div class="container">
        <h2 class="mb-3 mt-3 text-warning" style="font-family: Ubuntu;">Últimas Postagens &#128240</h2>
        <ul class="list-group">
            {% for post in posts %}
                <li class="list-group-item">
                    <div class="card-body">
                        <p class="card-subtitle">
                            Postado em 
                            <strong>{{post.get_created_at}} </strong>
                            por <strong class="text-warning">{{post.author}}</strong>
                        </p>
                        <h2 class="card-title">{{post.title}}</h2>
                        <p class="card-text">{{post.description}}</p>
                    </div>
                </li>
                <hr/>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
