{% extends "model_page.html" %}

{% block content %}
    <div class="container">
        <h1>Postagens</h1>
        <ul class="list-group">
            {% for post in posts %}
                <li class="list-group-item">
                    <div class="card-body">
                        <p class="card-subtitle">{{post.created_at}}</p>
                        <h2 class="card-title">{{post.title}}</h2>
                        <p class="card-text">{{post.description}}</p>
                    </div>
                </li>
                <hr/>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
