{% extends "model_page.html" %}

{% block content %}
    <nav class="nav nav-pills justify-content-between border-bottom p-3">
        <h2>Blog DEV</h2>

        <div class="d-flex justify-content-center align-items-center">
            {% if is_anonymous %}
                <a class="nav-link active" href="/">Entrar</a>
            {% else %}
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/logout" >Sair</a>
            {% endif %}
        </div>
    </nav>
    <div class="container">
        <h2>Olá, {{user}}</h2>
    
        <a href="/post/create">Criar uma nova postagem</a>
        <h3>Suas postagens</h3>
    
        <ul class="list-group">
            {% for post in posts %}
                <li class="list-group-item">
                    <div class="card-body">
                        <p class="card-subtitle">{{post.created_at}}</p>
                        <h2 class="card-title">{{post.title}}</h2>
                        <p class="card-text">{{post.description}}</p>
                        <div>
                            <a href="/post/update/{{post.id}}">Editar postagem</a> |
                            <a href="/post/delete/{{post.id}}">Excluir</a>
                        </div>
                    </div>
                </li>
                <hr/>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
